* {
    /* text-align: center; */
    background-color: lightgray;
}


.MyClass{
    /* background-color: rgb(0, 255, 174);
    height: 100px; */
    color: red;

}

.new{
      background-color: rgb(9, 11, 11);
      
}